body {
    margin: 40px 100px 500px 20px;
}

div {
    background-color: yellow;
    display: inline;
    padding: 10px;
}

.inline {
    display: inline;
}

#fundo-laranja {
    background-color: orange;
    margin-left: 10px;
}

.texto-importante {
    color: red;
}

.texto-nao-importante {
    color: blue;
}


/* seletor tag */
h1 {
    background-color: purple;
    margin: 40px;
    padding: 40px 0;
    border: 5px dotted blue;
}

/* seletor class */
.texto-centralizado {
    text-align: center;
}

/* seletir id */
#texto-destaque {
    font-size: 20px;
    font-weight: bold;
}