*{
    margin: 0px;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: orange;
    padding: 1em 0px;
}

section {
    text-align: center;
    margin: 3% 0;
}

footer {
    color: azure;
    background-color: darkslategray;
    padding: 4px 40%;
    margin-top: 6%;
}