.smallcard-container {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    margin-bottom: 10px;
    height: 60px;
    box-shadow: 1px 1px 6px gray;
    border-radius: 10px;
}

.smallcard-container > img {
    width: 30px;
    margin-right: 10px;
}

.smallcard-container > div {
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
}
